<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> WeCaterer</title>
	
	<!-- <script src="http://code.angularjs.org/1.2.13/angular.js"></script> -->
	<script src="library/angularJs/angular.js"></script>
	
    <!-- Bootstrap core CSS -->
    
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    
	<script src="library/jquery/jquery.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" ></script>
	<link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
	      
    <!-- Custom styles for this template -->
    <link href="css/jumbotron.css" rel="stylesheet">
    
    <link href="customcss/NewFile.css" rel="stylesheet">
    
    <!--App.js where routerApp is defined -->
    <script src="controllers/app.js" ></script>
    
    <script src="controllers/jqueryfile.js" ></script><!-- 
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     -->
    
    <!-- UI-routing for state provider implementation -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
    <script data-require="angular.js@*" data-semver="1.5.0" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
    <script src="https://code.angularjs.org/1.5.0/angular-animate.min.js"></script>
    <script src="https://code.angularjs.org/1.5.0/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="customcss/jk-carousel.min.css" />
    <link rel="stylesheet" href="customcss/style.css" />
    <script src="controllers/jk-carousel.min.js"></script>
    <script src="controllers/script.js"></script>
  
  	
 	
  </head>

  <body ng-app="routerApp" ng-controller='Myctrl'>

    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top navbar-custom"  data-spy="affix" >
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand mb-0" href="#">
      WeCaterer</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ">
          <li  ng-class="{active1:isActive('/home')} " class="navbar-margin">
            <a class="nav-link navbar-navlink"  ui-sref="Home" >Home </a>
          </li>
          <li  ng-class="{active1:isActive('/menu')} "class="navbar-margin">
            <a class="nav-link navbar-navlink" ui-sref="Menu" >Menu <span class="sr-only">(current)</span></a>
          </li>
          <li  ng-class="{active1:isActive('/offers')}"class="navbar-margin">
            <a class="nav-link navbar-navlink" ui-sref="Offers" >Offers <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 navbar-right">
          <input class="form-control mr-sm-2" ng-model="value" type="text" placeholder="Search">
          <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->          
          <span class="glyphicon glyphicon-search" role="button" ng-click="search()"></span>
        </form>
      </div>
    </nav>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron " style="padding-bottom: 1px; padding-top: 57px; background-color: #194240;" ng-controller="CarouselCtrl">
      <div class="carousel-caption" style=" position: absolute; bottom: 200px; " ng-controller='Myctrl'>
		<h1 class="display-3">Bon Apetit!</h1>
	    <p>Choose from the Best Caterers.</p>
	    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
 	  </div>
      <div class="container">
      <md-card layout="column" layout-align="center center" class="img1">
	    	<jk-carousel
		      data="dataArray"
		      item-template-url="'item-template.html'"
		      max-width="1000" 
		      max-height="500"
		      auto-slide="true"
		      auto-slide-time="5000"
		      display="block"
		      max-width="100%"
		  	  height="435px"  >
	      </jk-carousel>
	  </md-card>
      
      	<!-- <div class="row">
      		<div class="col">
      			<div id="my-slider" class="carousal slide" data-ride="carousel">
      				
      				indicators
      				<ol class="carousel-indicators" >
      					<li ng-repeat="slide in slides" data-slide-to="{{$index}}" data-target="#my-slider"  ng-class="{active:isActiveSlide($index)}">
      					</li>
      				</ol>
      				
      				wrapper for slides
      				<div class="carousel-inner"  role="listbox">
      					<div ng-repeat="slide in slides" class="item" ng-class="{active:isActiveSlide($index)}">
      						<img ng-src="{{slide.image}}" class="stretchy"/>
      						<div class="carousel-caption">
      							<h1 class="display-3">Bon Apetit!</h1>
						        <p>Choose from the Best Caterers.</p>
						        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      						</div>
      					</div>
      				</div>
      				
      				controls or nex or pre buttons
      				<a class="left carousel-control" href="#my-slider" role="button" data-slide="prev">
      					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      				</a>
      				<a class="right carousel-control" href="#my-slider" role="button" data-slide="next">
      					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      				</a>
      				
      			</div>
      		</div>
      	</div> -->
      	<!-- 
      	<img ng-repeat="slide in slides" class="carousel slide"  ng-src="{{slide.image}}"> -->
        <!-- <h1 class="display-3">Bon Apetit!</h1>
        <p>Choose from the Best Caterers.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
      </div>
    </div>
	<div ui-view></div>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
     	 <div class="col-md-4">
          <h2>About us</h2>
          <p>Be it <b>birthday parties, wedding celebration or any other event.</b> We will be there to bombard you and your people with our <b>authentic & delicious</b> dishes and make sure your taste buds have a 5 star experience.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Best Customer Service</h2>
          <p>We provide the best customer service, providing in person assistance until your happy occasion goes without a glitch</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Multiple Variety</h2>
          <p>Providing a plethora of Menu to choose from ranging Indian, Italiano and Mexicano...You name it,We have it</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
       </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Company 2017</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  </body>
</html>
