@CHARSET "ISO-8859-1";
.active1
{
	border-bottom: 3px solid rgb(12, 234, 204);
    font-weight: bold;
    background-color: #31b0d5;
}

.mySlides {
	display:none
	}
	
	
.navbar-custom {
    color: #FFFFFF;
    background-color: #272a79;
}
.navbar-margin
{
	margin-bottom:-0.6em;
	margin-top: -0.6em;
	padding-left: 1.5em;
	padding-right: 1.5em;
}
.navbar-navlink
{
	margin-top: 7px;
}
/* div {
    display: block;
    height: 50px;
    width: 80px;
    background-color: #0376b4;
    
    
}

div:hover
{
	
	border-bottom: 3px solid red;
} */